.form2 {
    width:856px;
    height:539.77px;
    outline:none;
    padding:0;
    margin:0;
}

.slide4 {
    position:relative;
    bottom:40px;
    outline:none;
    padding:0;
    margin:0;
 
    
}

.slick-dots li button:before {
    width:12px;
    height:12px;
    padding:3px;
    margin:0;
    position:relative;
    left:20px;
    // border:1px solid red;
    background:blue;
    z-index:1;
    border-radius: 100%;
    // border:1px solid blue;

}
.slick-dots li button:enabled {
    padding:0;
    margin:0;
    z-index:0;
    // background:#fff;
}

.sub-right {
    // width:440px;
    // height:539.77px;
    width:416px;
    // height:530.766px;
    height:226px;
    background:#fff;
    margin-top:24px;
    float:left;
    position: relative;
    left:102%;
    bottom:100%;
    // border:1px solid #000;
    border-radius:1%;
}

.sub-right-info {
    width:356px;
    height:261px;
    padding:30px 30px 30px 30px;
    // border:1px solid #000;
    border-radius:1%;
    display:block;
}

.right-description {
    width:416px;
    height:226px;
    padding-top:30px;
    border:1px solid #000;
    background:#fff;
    border-radius:1%;
    position:relative;
    top:-70px;
}

.subVisualH1 {
    text-align:left;
    font:bold 20px/24px arial;
    position:relative;
    top:-20px;
    color:#000;
    
}
.subVisualH2 {
    text-align:left;
    font:bold 20px/24px arial;
    position:relative;
    top:-20px;
    left:10px;
    color:#000;
    
}

.subVisualP1 {
    text-align:left;
    font:bold 14px/24px arial;
    position:relative;
    top:-5px;
    color:#000;
    
}


.subVisualP2 {
    width:416px;
    height:144px;
    // border:1px solid #000;
    color:#000;
    font:14px/24px arial;
    position:relative;
    left:10px;
    top:-30px;
}