.dots {
    color:red;
    background:red;
}
.slide {
    padding:0px;
    position:relative;
    top:-30px;
    left:-20px;
   
    padding:10px 20px;

}

.form {
    border:1px solid red;   
}

.p {
    text-align:center;
    margin:20px auto;
    position:relative;
    left:20px;
    color:#fff;
}

.description {
    font:bold 16px/18px arial;
    color:#fff;
}