span {
    font:14px/18px arial;
}

.progressbar {
    width:100%;
    height:11.99px;
    background:red;
}
.progressbar2 {
    width:85%;
    height:11.99px;
    background:red;
}
.progressbar3 {
    width:80%;
    height:11.99px;
    background:red;
}
.progressbar4 {
    width:80%;
    height:11.99px;
    background:red;
}

p {
  display:inline-flex;
}