.textarea {
    width:554px;
    height:100px;

    @media screen and (max-width:1200px) {
        max-width:398px;
        height:131px;
        padding:2px 12px 0px 12px;
    }
}

.FaceBook {
    margin:auto;
    width:19.2px;
    height:19px;
    position:relative;left:25%;
    top:8px;
}