

.Image1 {
    background-image: url('../../Images/NoteBook.jpg');
    background-size:450px 300px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    // transition: all 10s 0s ease;
    margin:auto;

    &:hover {
        background-size:470px 320px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        // transition: all 10s 0s ease;
        transition: all 0.5s 0s ease;
       opacity:90%;
    }
}

.Image2 {
    background-image: url('../../Images/Woman.jpg');
    background-size:450px 300px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    // transition: all 10s 0s ease;
    margin:auto;

    &:hover {
        background-size:470px 320px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        // transition: all 10s 0s ease;
       transition: all 0.5s 0s ease;
       opacity:90%;
    }
}

.Image3 {
    background-image: url('../../Images/DeskOfiice.jpg');
    background-size:450px 300px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    // transition: all 10s 0s ease;
    margin:auto;

    &:hover {
        background-size:470px 320px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        // transition: all 10s 0s ease;
       transition: all 0.5s 0s ease;
       opacity:90%;
    }
}


.Image3 {
    background-image: url('../../Images/DeskOfiice.jpg');
    background-size:450px 300px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    // transition: all 10s 0s ease;
    margin:auto;

    &:hover {
        background-size:470px 320px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        // transition: all 10s 0s ease;
       transition: all 0.5s 0s ease;
       opacity:90%;
    }
}


.Image4 {
    background-image: url('../../Images/Woman1.jpg');
    background-size:450px 300px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    // transition: all 10s 0s ease;
    margin:auto;

    &:hover {
        background-size:470px 320px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        // transition: all 10s 0s ease;
       transition: all 0.5s 0s ease;
       opacity:90%;
    }
}

.Image5 {
    background-image: url('../../Images/OfiiceDesckTop.jpg');
    background-size:450px 300px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    // transition: all 10s 0s ease;
    margin:auto;

    &:hover {
        background-size:470px 320px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        // transition: all 10s 0s ease;
       transition: all 0.5s 0s ease;
       opacity:90%;
    }
}


.Image6 {
    background-image: url('../../Images/StartUp.jpg');
    background-size:450px 300px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    // transition: all 10s 0s ease;
    margin:auto;

    &:hover {
        background-size:470px 320px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        // transition: all 10s 0s ease;
       transition: all 0.5s 0s ease;
       opacity:90%;
    }
}

.GrAdd {
    margin-top:10px;
 color:blue;  
}