 
.col-md-4 {
    @media(min-width: 768px) {
        flex: 0 0 auto;
        width:33.3333333333%;
    }
}

h1, h2, h3, h4, h5 , h6 {
    color: #1e1e1e;
}

div {
    display:block
}

a.portfolio-lightbox {
width:auto;
height:auto;
box-sizing:border-box;
text-decoration: none;
}


a:hover {
    color: #0078ff;
    text-decoration:none;
    transition: all 0.5s ease-in-out;
}

 

 

.work-content {
    padding: 2rem 3% 1rem 4%;
    // border:1px solid #000;
    text-decoration: none;
}

 
.row {
    --bs-gutter-x: 1rem;
    --bs-gutter-y: 1rem;
    display:flex;
    flex-wrap:wrap;
    // border:1px solid red;
    margin-top:calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left:calc(var(--bs-gutter-x)/ -2);
    // width:410.906px;
    // height:60px;
    // // margin:auto;
    text-decoration: none;
}

.col-sm-8 {
    width: 249,922px;
    height:80px;
    padding: 0px 12px 0px 12px;
    // border:1px solid #000;
    text-decoration: none;
    @media (min-width: 576px) {
        flex: 0 0 auto;
        with:66.6666666667%;
    }
}

.col-sm-8, w-title {
//   color:red;
//   border:1px solid #000;
  position:relative;
  bottom:2px;
}


.work-content .w-more {
    color:#4e4e4e;
    font-size: .2rem;

}

.work-content .w-more .w-ctegory {
    color: #0078ff;
}

.work-content  .w-more {
    color: #4e4e4e;
    font-size: .8rem;
}


.col-sm-4 {
//   border:1px solid blue;
}

 
.work-content .w-like {
   font-size:2.5rem;
   color:#0078ff;
   float:right;
   position:relative;
   left:20%;
   top:10%;
   @media screen and (max-width:1400px) {
       position:relative;
       left:70%;
       top:-120%;
   }
   @media screen and (max-width:1200px) {
       position:relative;
       left:80%;
   }
}

.work-content .w-like a {
    color:#0078ff;
}


a {
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    color:#1e1e1e;
}

.bi-plus-circle::before {
    content: "\f4d3";
    // border:1px solid #000;
    
}

.bi-plus-circle {
    border:3px solid #0078ff;
    border-radius: 100%;
    font-size:40px;
    font-weight:400;
    line-height:60px;
 
}

[class^="bi-"]::before,
[class*=" bi-"]::before {
    display:inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: text-bottom;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

 

.work-img {
    display:block;
    overflow: hidden;
    // border:1px solid blue;
}

.work-box:hover #image {
    transform: scale(1.3);
}